<div class="container main-container-stimuleringsmilder">
    {% embed "page.html.twig" %}{% endembed %}
</div>


<style>
.main-container-stimuleringsmilder {
    width: auto;
    max-width: 1200px;
    margin-left: 0;
}
</style>


